@charset "UTF-8";
$yel: #f8a03c;
$main_color: #6c7cb8;
@mixin text_hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin poa_left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin inner {
    width: 1180px;
    margin: 0 auto;
}

@mixin text_line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin bg_center($width, $height) {
    width: $width;
    height: $height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}