$yel: #f8a03c;

@mixin text_hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin poa_left {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin inner {
  width: 1180px;
  margin: 0 auto;
}

@mixin text_line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin bg_center($width, $height) {
  width: $width;
  height: $height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div#header_info {
  position: relative;

  div#header {
    position: relative;
    background: url(/img/bg_main.png) no-repeat center/cover;

    #main_gnb {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      left: 162px;
      top: 63px;
      li {
        opacity: 1;
        padding-left: 52px;
        a {
          font-size: 16px;
          color: #333333;
          letter-spacing: -0.4px;
          display: inline-block;
          font-weight: 500;
          position: relative;
          padding: 10px;
          transition: all 0.3s;

          &::before {
            position: absolute;
            bottom: 0;
            content: "";
            width: 0px;
            height: 3px;
            bottom: 0;
            right: 0;
            background: $yel;
            transition: all 0.6s;
          }
          &::after {
            position: absolute;
            bottom: 0;
            content: "";
            width: 0px;
            height: 3px;
            bottom: 0;
            left: 0;
            background: $yel;
            transition: all 0.6s;
          }
          &:focus:before,
          &:hover:before,
          &:focus:after,
          &:hover:after {
            width: 50%;
            height: 3px;
          }
        }
      }
    }

    div.inner {
      position: relative;
      @include inner;
      height: 612px;

      h1.logo {
        position: absolute;
        top: 66px;

        img {
        }
      }

      div.header_top.flex {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;

        a.top_search {
          display: inline-block;
          font-size: 14px;
          color: #333333;
        }

        a.top_search_right {
          display: inline-block;
          font-size: 14px;
          color: #333333;
        }
      }

      ul.util {
        position: absolute;
        right: 0;
        top: 67px;

        li {
          float: left;

          a {
            display: inline-block;
            padding: 10px 13px;
            border-radius: 5px;
            font-size: 14px;
            color: #333333;
          }

          &:nth-of-type(1) {
            a {
              margin-right: 24px;
              display: inline-block;
              padding: 10px 17px;
              border-radius: 7px;
              background: #6976b6;
              color: #ffffff;
              text-align: center;
              font-size: 14px;
            }
          }

          &:nth-of-type(2) {
            a {
              position: relative;
              padding-left: 0;
            }

            &::after {
              position: absolute;
              top: 12px;
              content: "";
              display: inline-block;
              width: 1px;
              height: 13px;
              background: #bbbbbb;
            }
          }
        }

        &::after {
          content: "";
          width: 160px;
          height: 36px;
          position: absolute;
          top: 37px;
          right: -39px;
          display: inline-block;
          background: url(/img/bg_member.png) no-repeat;
        }
      }

      .main_txt {
        @include poa_left;
        top: 213px;
      }

      div.seach_wrap {
        @include poa_left;
        top: 315px;
        width: 660px;

        input {
          position: relative;
          padding: 25px 34px 20px;
          width: 100%;
          height: 100%;
          border: none;
          font-size: 20px;
          font-size: 18px;
          font-weight: bold;
          line-height: 1;
          color: #222;
          opacity: 0.53;
          box-sizing: border-box;
          letter-spacing: -2px;
        }

        &::after {
          width: 25px;
          height: 26px;
          content: "";
          display: block;
          position: absolute;
          right: 21px;
          top: 21px;
          background: url(/img/sear_btn.png);
          cursor: pointer;
        }

        img {
        }
      }

      .search_btn {
        @include poa_left;
        margin-top: 33px;
      }

      div.header_bot {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        right: 0;
        margin-right: -115px;
        margin-left: -115px;
        padding: 0 115px;
        padding-top: 55px;
        padding-bottom: 23px;
        border-radius: 111px 111px 0 0;

        h2 {
          opacity: 1;
          display: inline-block;
          letter-spacing: -1px;
          font-size: 23px;
          margin-right: 30px;
          font-weight: 700;
        }

        span.sel {
          opacity: 1;

          em {
            opacity: 1;
            display: inline-block;
            margin-right: 17px;

            input {
              opacity: 1;
              display: none;

              &:checked + label {
                width: 27px;
                height: 37px;
                vertical-align: middle;
                padding-left: 32px;
                font-size: 16px;
                font-style: initial;
                font-weight: 700;
                background: url(/img/input_check_on.png) no-repeat center/contain;
                background-position: left;
                color: #333333;
              }
            }

            label {
              opacity: 1;
              width: 27px;
              height: 37px;
              vertical-align: middle;
              background: url(/img/input_check_off.png) no-repeat center/contain;
              padding-left: 32px;
              background-position: left;
              font-size: 16px;
              font-style: initial;
              font-weight: 700;
              color: #999999;
            }
          }
        }
      }
    }
  }
}

div#profile_wrap {
  opacity: 1;

  div.inner {
    @include inner;
    opacity: 1;
    opacity: 1;
    padding: 35px 0;
    padding-bottom: 0;

    h1 {
      opacity: 1;
      opacity: 1;
      font-size: 21px;
      font-weight: 400;
    }

    div.wrap {
      opacity: 1;
      display: flex;
      opacity: 1;
      margin: 0 -10px;
      margin-top: 20px;
      flex-wrap: wrap;

      article {
        h2.pro_header {
          opacity: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span.left {
            opacity: 1;
            p {
              opacity: 1;
              font-size: 17px;
              font-weight: bold;
              span.date {
                position: relative;
                top: -2px;
                font-size: 13px;
                padding: 4px 10px;
                border-radius: 25px;
                color: #fff;
                opacity: 1;
                display: inline-block;
                background: #f38f1e;
                margin-left: 5px;
              }
            }
          }

          span.right {
            opacity: 1;
            display: flex;
            align-items: center;
            span.a1 {
              margin-right: 7px;
              color: #80c269;
              opacity: 1;
              display: inline-block;
              width: 55px;
              height: 23px;
              font-size: 12px;
              line-height: 23px;
              text-align: center;
              border: 1px solid #80c269;
              border-radius: 12px;
            }

            span.a2 {
              margin-right: 15px;
              color: #00a0e9;
              opacity: 1;
              display: inline-block;
              width: 55px;
              height: 23px;
              font-size: 12px;
              line-height: 23px;
              text-align: center;
              border: 1px solid #00a0e9;
              border-radius: 12px;
            }

            img {
              opacity: 1;
            }
          }
        }

        h3 {
          a {
            @include text_line;
            opacity: 1;
            font-size: 20px;
            letter-spacing: -0.4px;
            line-height: 1;
            margin-top: 14px;
            margin-bottom: 17px;
            color: #333333;
          }
          span {
            display: inline-block;
            color: #80786d;
            opacity: 1;
          }
        }

        div.info_wrap {
          opacity: 1;

          span:first-of-type {
            display: inline-block;
            padding-left: 0;
            border-left: none;
          }

          > span {
            margin-left: 0;
            color: #666666;
            font-weight: 400;
            letter-spacing: -0.4px;
            padding: 0 6px;
            border-left: 1px solid #dbdbdb;
            display: inline-block;
            opacity: 1;
            img {
              display: inline-block;
              margin-right: 3px;
              opacity: 1;
            }
          }

          span.sup {
            opacity: 1;
            img {
              opacity: 1;
            }

            span {
              opacity: 1;
            }
          }

          span.state {
            opacity: 1;
            img {
              opacity: 1;
            }
          }
        }

        .price_wrap {
          margin-top: 28px;
          a {
            display: inline-block;
            text-align: center;
            padding: 12px 13px;
            font-size: 16px;
            border: 1px solid #dbdbdb;
            border-radius: 7px;
            display: inline-flex;
            align-items: center;
            color: #000000;
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
          }
          a.price {
            opacity: 1;
            margin-right: 8px;
            img {
              opacity: 1;
              margin-right: 8px;
            }

            span {
              padding: 0 3px;
              opacity: 1;
              color: $yel;
            }
          }

          a.dates {
            opacity: 1;
            img {
              opacity: 1;
            }

            span {
              opacity: 1;
              padding: 0 4px;
            }
          }
        }

        div.skills {
          opacity: 1;
          margin-top: 33px;
          padding-bottom: 15px;
          span.path {
            opacity: 1;
            background: #f3f3f3;
            padding: 7px;
            text-align: center;
            display: inline-flex;
            font-size: 12px;
            color: #999999;
          }

          span.skill {
            opacity: 1;
            font-size: 14px;
            color: #666666;
            margin-left: 10px;
          }
        }

        div.way {
          opacity: 1;
          padding: 18px 0;
          border-top: 1px dotted #dbdbdb;
          border-bottom: 1px dotted #dbdbdb;
          padding-bottom: 6px;
          dl {
            opacity: 1;
            display: flex;
            margin-bottom: 12px;
            dt {
              opacity: 1;
              color: #333333;
              width: 78px;
              font-weight: bold;
              flex-basis: 78px;
              flex-shrink: 0;
            }

            dd {
              font-size: 14px;
              color: #666666;
              line-height: 20px;
              opacity: 1;
              overflow: hidden;
            }

            &:last-of-type dd {
              @include text_line;
            }
          }
        }

        div.pro_profile_wrap {
          opacity: 1;
          display: flex;
          align-items: center;
          margin-top: 12px;
          div.profile {
            opacity: 1;
            @include bg_center(40px, 40px);
            img {
              opacity: 1;
            }
          }

          div.name {
            margin-left: 11px;
            opacity: 1;
            font-size: 13px;
            font-weight: bold;
            color: #333333;
            span {
              font-size: 13px;
              color: $yel;
              opacity: 1;
              display: inline-block;
            }
          }

          div.company {
            opacity: 1;
            a {
              display: inline-block;
              padding: 3px 8px;
              text-align: center;
              font-size: 13px;
              color: #999;
              background: #f5f5f5;
              border: 1px solid #dbdbdb;
              margin-left: 19px;
            }
          }
        }

        position: relative;
        width: 48%;
        padding: 27px 36px;
        padding-bottom: 10px;
        // height: 425px;
        border: 1px solid #dbdbdb;
        border-radius: 13px;
        opacity: 1;
        margin: 0 10px;
        transition: all 0.3s;
        margin-bottom: 25px;

        &:hover {
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
        }

        article:nth-of-type(n) {
          margin-right: 2%;
        }

        article:nth-of-type(2n) {
          margin-right: 0;
          width: 50%;
        }

        h1 {
          opacity: 1;
          font-size: 19px;
          letter-spacing: -0.63px;
          padding-bottom: 18px;
          border-bottom: 1px solid #dbdbdb;
          margin-bottom: 19px;
          font-weight: bold;
          @include text_line;
        }

        div.profile {
          opacity: 1;
          display: flex;
          align-items: center;

          div.pic {
            opacity: 1;

            img {
              opacity: 1;
              width: 84px;
              height: 84px;
            }
          }

          div.proile_txt {
            opacity: 1;
            margin-left: 17px;

            .psb {
              display: inline-block;
              font-size: 12px;
              height: 20px;
              color: #d62d2d;
              font-weight: 500;
              padding: 8px 6px;
              border: 1px solid #d62d2d;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              letter-spacing: -0.4px;
              margin-bottom: 5px;
            }

            h2 {
              opacity: 1;
              font-size: 22px;
              font-weight: 500;
              letter-spacing: -1.1px;
              cursor: pointer;

              span {
                opacity: 1;
                color: #666666;
                font-size: 16px;
                font-weight: 500;
              }

              .heart {
                position: relative;
                display: inline-block;
                top: 3px;
              }
            }

            span.pSpan {
              opacity: 1;
              margin-top: 7px;
              display: inline-block;
              /* padding: 3px 8px; */
              /* background: #6876b5; */
              color: #fff;
              font-size: 14.5px;
              color: #f8a03c;
              border-radius: 5px;
              font-weight: 500;
            }

            span.pSpan.blue {
              color: #6876b5;
            }
            span.pSpan.green {
              color: #8bc135;
            }
            span.pSpan.red {
              color: #de3030;
            }

            span.date {
              position: relative;
              font-size: 14px;
              color: #666666;
              position: relative;
              margin-left: 6px;
              top: -0.5px;

              &::after {
                position: absolute;
                display: inline-block;
                content: "";
                width: 1px;
                height: 10px;
                background: #dddddd;
                top: 52%;
                transform: translateY(-50%);
                left: -5px;
              }
              &::before {
                position: absolute;
                display: inline-block;
                content: "";
                width: 1px;
                height: 10px;
                background: #dddddd;
                top: 52%;
                transform: translateY(-50%);
                right: -5px;
              }
            }

            span.dif {
              display: inline-block;
              position: relative;
              top: 5px;
              margin-left: 12px;
              a {
                display: inline-block;
                font-size: 12px;
                width: 36px;
                height: 18px;
                text-align: center;
                line-height: 18px;
                background: #f26d7d;
                color: #fff;
                border-radius: 5px;
                position: relative;
                top: -5px;
              }

              a.prize {
                background: #0091d3;
              }
              a.mid {
                background: #1cbbb4;
              }
              a.begin {
                background: #e6bb25;
              }
            }
          }
        }

        div.mainwork {
          margin-top: 24px;

          h2 {
            font-size: 17px;
            margin-bottom: 4px;
            font-weight: 500;
          }

          .mwList {
            margin-top: 10px;

            li {
              margin-bottom: 5px;

              a {
                color: #707070;
                font-size: 15px;
                letter-spacing: -0.5px;
                font-weight: 400;
                width: 343px;
                @include text_hidden;
              }
            }
          }
        }

        ul.wNum {
          position: absolute;
          right: 23px;
          top: 95px;

          li {
            width: 160px;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 7px;
            margin-bottom: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5px 15px;

            &:hover {
              background: $yel;
              color: #ffffff;

              a,
              span {
                color: #ffffff;

                &::after {
                  color: #ffffff;
                }
              }
            }

            a {
              float: left;
              line-height: 30px;
              font-size: 14px;
              color: #303030;
              font-weight: 400;

              span {
                float: right;
                position: absolute;
                right: 12px;
                color: #f8a03c;
                font-weight: bold;

                &::after {
                  content: "건";
                  color: #999999;
                  font-weight: 400;
                }
              }
            }

            &::after {
              content: "";
              display: block;
              clear: both;
            }
          }
        }

        .area {
          display: inline-block;
          margin-top: 14px;

          .area1 {
            border: 1px solid;
            padding: 3px 8px;
            border-radius: 18px;
            font-size: 14px;
            margin-right: 3px;
            font-weight: bold;
            margin-right: 5px;
          }

          span.area2 {
            font-size: 14px;
            color: #666666;
          }
        }

        div.skill {
          margin-top: 21px;
          overflow: hidden;
          height: 78px;

          .more {
            background: #ffffff;
          }

          div {
            float: left;
            display: block;
            margin-right: 9px;
            background: #eee;
            padding: 7px 17px;
            border-radius: 5px;
            font-size: 12px;
            color: #666666;
            margin-bottom: 11px;
            font-weight: bold;
          }

          &::after {
            // width: 23px;
            // height: 10px;
            // position: relative;
            // top: 5px;
            // content: "";
            // display: inline-block;
            // clear: both;
            // background: url(/img/card_more.png)no-repeat;
          }
        }
      }
    }
  }
}

div#sta {
  opacity: 1;
  margin-top: 15px;

  div.inner {
    @include inner;
    opacity: 1;

    div.wrap {
      opacity: 1;
      display: flex;
      margin: 0 -5px;

      article {
        opacity: 1;
        height: 160px;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #dbdbdb;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        flex: 1;
        transition: all 0.4s;

        &:hover {
          flex: 1.4;
          background: $yel;
          color: #ffffff;
        }
        &:hover h2 {
          color: #ffffff !important;
        }

        div.pic {
          opacity: 1;

          img {
            opacity: 1;
          }

          h2 {
            opacity: 1;
            font-size: 14px;
            margin-top: 22px;
            color: #666666;
            line-height: 1.4;
            font-weight: 400;
          }
        }
      }
    }
  }
}

div#spot {
  margin-top: 60px;
  opacity: 1;

  div.inner {
    opacity: 1;
    @include inner;

    div.top_tab_wrap {
      opacity: 1;
      display: flex;
      justify-content: space-between;

      ul.tab {
        opacity: 1;
        display: flex;

        li {
          opacity: 1;

          &:first-of-type a {
            border-radius: 7px 0 0 7px;
          }
          &:last-of-type a {
            border-radius: 0 7px 7px 0;
          }

          a {
            opacity: 1;
            display: inline-block;
            padding: 15px 33px;
            color: #999999;
            text-align: center;
            background: #fff;
            font-size: 16px;
            border: 1px solid #dfdfdf;
            padding: 15px 38px;
          }

          a.on {
            color: #fff;
            background: #6876b5;
            // border-radius: 5px 0 0 5px;
          }
        }
      }

      div.use {
        opacity: 1;
        position: relative;
        top: 9px;

        label {
          opacity: 1;
          position: relative;
          display: inline-block;
          height: 27px;
          width: 50px;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          margin-top: 0 !important;

          input#check {
            opacity: 1;

            &:checked + i {
              background: #6876b5;

              &::before {
                left: calc(100% - 25px);
              }
            }
          }

          i {
            position: absolute;
            left: 0;
            top: 0px;
            display: inline-block;
            height: 27px;
            width: 60px;
            background-color: #e9e9e9;
            border-radius: 30px;
            z-index: 1;

            &::before {
              content: "";
              display: block;
              height: 23px;
              width: 23px;
              background-color: #fff;
              box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
              position: absolute;
              left: 2px;
              top: 2px;
              border-radius: 50%;
              transition: all 0.5s;
              -webkit-transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}

#ad {
  margin: 75px 0;
  height: 340px;
  background: url(/img/bg_ad.png) no-repeat center/cover;

  .swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
    position: relative;
    transform: translateY(242px);

    div.swiper-slide {
      opacity: 1;

      .no_flex {
        position: relative;
        flex-direction: column;
        padding: 0px 30px;

        div.icon {
          position: relative;
          top: -7px;
          left: -121px;
          opacity: 1;

          img {
            opacity: 1;
          }
        }

        h2 {
          opacity: 1;
          font-size: 18px;
          margin-bottom: 16px;
          color: #363636;
        }

        h3 {
          font-size: 15px;
          line-height: 1.5;
          color: #363636;
          opacity: 0.6;
          letter-spacing: -1px;
          word-break: keep-all;
        }

        span.date {
          opacity: 1;
          margin-top: 14px;
          display: block;
          font-size: 14px;
          color: #cb2129;
          opacity: 0.8;
        }
      }
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 309px;
    height: 195px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .swiper_wrap {
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 40px;
  }

  .swiper-pagination-bullet-active {
    background: #cb2129;
  }
}

#ad_two {
  height: 220px;
  background: url(/img/bg_ad02.png) no-repeat center/cover;
  margin-top: 215px;
  cursor: pointer;
}

div#notice_wrap {
  opacity: 1;

  div.inner {
    @include inner;
    padding: 67px 0;
    opacity: 1;

    div.wrap {
      opacity: 1;
      display: flex;
      margin: 0 5px;

      article {
        flex: 1;
        opacity: 1;
        opacity: 1;
        margin: 0 5px;

        img {
          opacity: 1;
        }

        div.noitice {
          opacity: 1;

          a {
            opacity: 1;
            display: inline-block;
            color: #404342;
            max-width: 270px;
            @include text_hidden;
            font-weight: 400;
          }

          h2 {
            opacity: 1;
            font-size: 19px;
            margin-bottom: 23px;
            font-weight: bold;
          }

          ul {
            opacity: 1;

            li {
              opacity: 1;
              margin-bottom: 6px;
              font-size: 14.5px;

              span {
                opacity: 1;
                float: right;
                color: #aaaaaa;
              }
            }
          }
        }
      }
    }
  }
}

div#banner {
  border-top: 1px solid #dbdbdb;
  padding: 25px 0;
  box-sizing: border-box;
  background: #f8f9fa;

  img {
    vertical-align: middle;
  }

  div.inner {
    @include inner;

    div.swiper-banner {
      text-align: center;
      overflow: hidden;

      div.swiper-wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        div.swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      div.swiper-pagination {
      }
    }
  }
}

div.footer_top {
  border-bottom: 1px solid #dbdbdb;

  div.inner {
    opacity: 1;
    @include inner;
    position: relative;

    ul {
      opacity: 1;
      display: flex;
      padding: 15px 0;

      li {
        opacity: 1;

        &:first-of-type a {
          padding-left: 12px;
        }

        a {
          opacity: 1;
          font-size: 14px;
          color: #333333;
          padding: 0 24px;
          border-right: 1px solid #aaa;
        }

        &:last-of-type a {
          border: none;
        }
      }
    }

    .site_map {
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      select {
        opacity: 1;
        height: 49px;
        padding: 0px 48px 0 26px;
        border: 1px solid #dbdbdb;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-top: none;
        border-bottom: none;
        background: url(/img/bg_smail_sel.png) no-repeat center right 20px;
      }
    }
  }
}

div.footer_inner {
  opacity: 1;

  div.inner {
    @include inner;
    opacity: 1;
    padding: 80px 0;

    div.wrap {
      opacity: 1;
      display: flex;
      justify-content: space-between;

      article {
        opacity: 1;

        div.f_logo {
          opacity: 1;

          img {
            opacity: 1;
          }
        }

        address {
          opacity: 1;
          margin-top: 20px;
          color: #999999;
          font-style: normal;
          line-height: 1.4;
          font-size: 15px;
        }
      }

      article.right {
        opacity: 1;
        padding-left: 60px;
        border-left: 1px solid #dbdbdb;

        h2 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
          letter-spacing: -1px;
        }

        ul.sns {
          opacity: 1;
          display: flex;
          margin-bottom: 26px;

          li {
            &:nth-of-type(1) {
              padding-left: 0;
            }

            opacity: 1;
            padding: 0 6px;

            a {
              opacity: 1;

              img {
                opacity: 1;
              }
            }
          }
        }

        div.phone {
          opacity: 1;
          display: flex;
          align-items: center;

          img {
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

div.footer_bottom {
  padding: 27px 0;
  background: #f8f9fa;

  div.inner {
    p {
      margin-bottom: 20px;
      color: #999999;
      text-align: center;
      font-size: 14px;
      line-height: 1.4;
    }

    p.copy {
      font-size: 14px;
      color: #dcdcdc;
    }
  }
}

nav#navi {
  position: absolute;
  top: 628px;
  z-index: 999;
  left: 50%;
  transform: translateX(619px);

  .banner {
    opacity: 1;
    width: 100%;
    margin: 15px 0;

    opacity: 1;
    li {
      opacity: 1;
      a {
        width: 100%;
        display: inline-block;
        img {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }

  div.project {
    opacity: 1;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dbdbdbdb;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);

    h2 {
      opacity: 1;
      font-size: 14px;
      font-weight: bold;
    }

    ul {
      opacity: 1;
      opacity: 1;
      padding: 5px 30px;
      border-bottom: 1px solid #dbdbdb;

      h2 {
        padding-top: 20px;
        margin-bottom: 13px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -1.05px;
      }

      li {
        opacity: 1;
        margin-bottom: 7px;

        a {
          display: inline-block;
          opacity: 1;
          font-size: 12px;
          color: #999999;
        }

        a.on {
          border-bottom: 1px solid $yel;
          padding-bottom: 7px;
          color: $yel;
        }
      }
    }
  }

  .top_btn {
    margin-top: 15px;

    a {
      display: inline-block;
      height: 43px;
      width: 100%;
      line-height: 43px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      font-size: 12px;
      color: #333333;
      border: 1px solid #dbdbdbdb;
      -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
