div#header_info {
    display: block;

}

section#se01 {
    display: block;
  div.inner {
      display: block;
    div.se01 {
        display: block;
        font-size: 33px;
    }
  }
}

section#se02 {
    display: block;
  div.inenr {
      display: block;
    div.se02 {
        display: block;
    }
  }
}

section#se03 {
    display: block;
  div.inenr {
      display: block;
    div.se03 {
        display: block;
    }
  }
}

div#footer_info {
    display: block;
}