$yel: #f8a03c;
$sub_color: #6c7cb8;
@mixin text_hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin poa_left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin poa_top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin inner {
    width: 1180px;
    margin: 0 auto;
}

@mixin fontsize($size, $font_color, $font_weight, $font-height: 1) {
    font-size: $size;
    color: $font_color;
    font-weight: $font_weight;
    line-height: $font-height;
}

div#sub_header {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);

    div.inner {
        @include inner;
        position: relative;
        height: 70px;

        h1.logo2 {
            @include poa_top;
            left: 0;

            img {
                opacity: 1;
            }
        }

        ul#gnb {
            position: absolute;
            left: 210px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;

            li {
                position: relative;
                opacity: 1;
                margin: 0 30px;
                height: 100%;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: inline-block;
                    width: 0;
                    height: 2px;
                    background: #333333;
                    transition: all 0.5s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }

                a {
                    display: inline-block;
                    font-size: 16px;
                    color: #333333;
                    opacity: 1;
                }
            }
        }

        ul.sub_login_menu {
            opacity: 1;
            position: absolute;
            right: 65px;
            @include poa_top;
            display: flex;
            align-items: center;

            li {
                opacity: 1;

                a {
                    opacity: 1;
                    // display: inline-block;
                    font-size: 14px;
                    color: #333333;

                    img {
                        opacity: 1;
                        vertical-align: text-top;
                    }
                }

                &:nth-of-type(1) {
                    // margin-right: 10px;
                    position: relative;
                    top: 3px;
                }

                &:nth-of-type(2) {
                    display: inline-block;
                    padding: 0 15px;
                    border-right: 1px solid #c5c5c5;
                }

                &:nth-of-type(3) {
                    display: inline-block;
                    padding: 0 15px;
                }
            }
        }

        div.all_menu {
            @include poa_top;
            right: 0;
            top: 54%;

            img {
                opacity: 1;
            }
        }
    }
}

div#sub_contents {
    div.sub_tit {
        height: 95px;
        position: relative;
        border-bottom: 1px solid #bbbbbb;

        .inner {
            @include inner;
            h1 {
                position: absolute;
                bottom: 22px;
                @include fontsize(25px, #333, bold);
            }
        }
    }

    div#sub_content {
        background: #f4f5f7;
        padding-bottom: 50px;

        div.inner {
            @include inner;
            overflow: hidden;
            div.custom_sch {
                opacity: 1;
                ul.custom_tab {
                    margin-bottom: 22px;
                    display: flex;
                    opacity: 1;
                    li {
                        flex: 1;
                        text-align: center;
                        opacity: 1;
                        a {
                            display: inline-block;
                            width: 100%;
                            height: 50px;
                            line-height: 50px;
                            opacity: 1;
                            font-size: 16px;
                            color: #666666;
                            background: #ffffff;
                            border: 1px solid #dbdbdb;
                            border-right: none;
                        }

                        &:last-of-type a {
                            border-right: 1px solid #dbdbdb;
                        }
                        a.on {
                            opacity: 1;
                            background: #6c7cb8;
                            color: #ffffff;
                        }
                    }
                }
            }
            h1.custom_tit {
                display: flex;
                justify-content: space-between;
                opacity: 1;
                span.left {
                    opacity: 1;
                    font-size: 19px;
                    color: #333333;
                    font-weight: 500;
                }

                span.right {
                    opacity: 1;
                    font-size: 12px;
                    color: #555555;
                    font-weight: 600;
                    letter-spacing: -0.8px;
                    span.rec {
                        margin-right: 15px;
                        opacity: 1;
                        select {
                            background: url(/img/bg_smail_sel.png) no-repeat;
                            background-size: 7px 4px;
                            padding-right: 9px;
                            background-position: center right;
                            -moz-appearance: none;
                            appearance: none;
                            -webkit-appearance: none;
                            opacity: 1;
                            -webkit-appearance: none;
                            -ms-expend {
                                opacity: 0;
                            }
                            opacity: 1;
                            option {
                                opacity: 1;
                            }
                            color: $sub_color;
                            font-weight: bold;
                        }
                    }

                    span.rec_save {
                        margin-right: 15px;
                        opacity: 1;
                        select {
                            background: url(/img/bg_smail_sel.png) no-repeat;
                            background-size: 7px 4px;
                            padding-right: 9px;
                            background-position: center right;
                            -moz-appearance: none;
                            appearance: none;
                            -webkit-appearance: none;
                            opacity: 1;
                            -webkit-appearance: none;
                            -ms-expend {
                                opacity: 0;
                            }
                            opacity: 1;
                            option {
                                opacity: 1;
                            }
                            color: $sub_color;
                            font-weight: bold;
                        }
                    }

                    span.url {
                        position: relative;
                        top: 2px;
                        opacity: 1;
                        a {
                            opacity: 1;
                            img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            div.left_menu {
                float: left;
                width: 220px;

                > ul {
                    .ple_sch {
                        margin-top: 10px;
                        height: 88px;
                        background: #ffffff;

                        a {
                            display: inline-block;
                            width: 100%;
                            height: 88px;
                            img {
                                display: inline-block;
                                width: 100%;
                                height: 88px;
                            }
                        }
                    }
                    > li {
                        background: #ffffff;
                        padding: 28px 0 28px 21px;
                        border: 1px solid #dbdbdb;
                        border-bottom: none;

                        &:nth-of-type(1) {
                            border-top: none;
                        }
                        &:last-of-type {
                            border-bottom: 1px solid #dbdbdb;
                        }
                        > a {
                            @include fontsize(17px, #333, 500);
                            letter-spacing: -1px;

                            &:hover {
                                color: #6c7cb8;
                            }
                        }
                        a.on {
                            color: #6c7cb8;
                        }

                        ul.sub_menu {
                            margin-top: 24px;
                            li {
                                margin-top: 16px;
                                opacity: 1;
                                a {
                                    position: relative;
                                    font-size: 15px;
                                    color: #666666;
                                    font-weight: 400;
                                    padding-left: 16px;

                                    &::after {
                                        position: absolute;
                                        content: "";
                                        display: block;
                                        background: url(/img/bg_lists.png) no-repeat;
                                        width: 8px;
                                        height: 12px;
                                        left: 0;
                                        top: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div.content_info {
                float: left;
                padding: 20px;
                box-sizing: border-box;
                width: 960px;

                div.firstFloor {
                    display: flex;
                    margin-top: 13px;
                    background: #ffff;
                    dl {
                        &:hover {
                            // border: 1px solid #333;
                        }
                        &:hover button {
                            // border-bottom: 1px solid #333;
                        }

                        flex: 1;
                        dt {
                            button {
                                width: 153px;
                                height: 50px;
                                border: 1px solid #dbdbdb;
                                border-bottom: none;
                                text-align: left;
                                padding-left: 21px;
                                font-weight: bold;
                                font-size: 14px;
                                background: url(/img/bg_smail_sel.png) no-repeat center right 20px;
                            }
                        }

                        dd {
                            &::-webkit-scrollbar-track {
                                -webkit-box-shadow: inset 0 0 6px #e5e5e5;
                                border-radius: 10px;
                                background-color: #f5f5f5;
                            }

                            &::-webkit-scrollbar {
                                width: 7px;
                                height: 10px;
                                background-color: #f5f5f5;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                -webkit-box-shadow: inset 0 0 6px #e5e5e5;
                                background-color: #e5e5e5;
                            }

                            padding: 20px;
                            overflow-y: scroll;
                            border: 1px solid #dbdbdb;
                            div.nano {
                                height: 274px;

                                div.ttput {
                                    opacity: 1;
                                    margin-top: 8px;
                                    padding: 5px 0;
                                    border: 1px solid #dbdbdb;
                                    input.short {
                                        opacity: 1;
                                        width: 20px;
                                        border: 0;
                                        position: relative;
                                        left: 3px;
                                        top: -1px;
                                        font-size: 14px;
                                        color: #555555;
                                    }

                                    span.sch {
                                        opacity: 1;
                                        img {
                                            opacity: 1;
                                            position: relative;
                                            left: 3px;
                                            top: 1px;
                                        }
                                    }
                                }

                                div.tt_gender {
                                    opacity: 1;
                                    margin-top: 18px;
                                    input {
                                        opacity: 1;
                                  
                                    }
                                  
                                    label {
                                        opacity: 1;
                                      input {
                                          opacity: 1;
                                  
                                      }
                                  
                                      label {
                                          opacity: 1;
                                  
                                      }
                                    }
                                  }

                                ul {
                                    li {
                                        a {
                                            font-size: 14px;
                                            color: #555555;
                                            padding: 11px 0;
                                            letter-spacing: -0.5px;

                                            &:hover {
                                                color: $yel;
                                            }
                                        }
                                        a.on {
                                            color: $yel;
                                        }
                                        a.focus {
                                            padding: 4px 12px;
                                            position: relative;
                                            left: -12px;
                                            background: #f8a03c;
                                            border-radius: 15px;
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -ms-expend {
        opacity: 0;
    }
    border: none;
}
