// 인터뷰
div.fre_interview_wrap {
  margin-top: 28px;
  box-sizing: border-box;
  div.info {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    div.wrap {
      display: flex;
      div.lef {
        flex: 0 0 379px;
        margin-right: 20px;
        img {
          width: 100%;
        }
      }

      div.ref {
        h2 {
          margin-top: 23px;
          font-weight: bold;
          font-size: 24px;
          letter-spacing: 2px;
          line-height: 1;
        }

        p.txt {
          position: relative;
          margin-top: 12px;
          font-size: 14px;
          font-weight: 400;
          color: $main_color_yel;
          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background: #000000;
            left: 0;
            top: 35px;
          }
        }

        p.thumb {
          margin-top: 34px;
          font-weight: 400;
          font-size: 14px;
          color: #333333;
          line-height: 21px;
        }
      }
    }
  }

  div.info2 {
    margin-top: 25px;
    ul {
      border: 1px solid #dbdbdb;
      border-top: 1px solid #000;
      overflow: hidden;
      li {
        padding: 42px 8px;
        box-sizing: border-box;
        border-bottom: 1px solid #dbdbdbdb;
        margin: 0 40px;

        &:last-of-type{
          border-bottom: none;
        }
        p.qxt {
          font-size: 16px;
          display: flex;
          align-items: center;
          color: #333333;
          img {
            margin-right: 8px;
          }
        }

        p.axt {
          margin-top: 22px;
          margin-left: 30px;
          font-size: 14px;
          font-weight: 400;
          color: #666666;
          line-height: 1.3;
        }
      }
    }
  }
}
// 인터뷰

// 포트폴리오
div.portfolio_wrap {
  div.port_top {
    height: 58px;
    border-top: 1px solid #333;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-left: 17px;
  }

  div.port_select {
    padding-left: 25px;
    border-bottom: 1px solid #dbdbdb;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      p {
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        span {
          display: inline-flex;
          font-size: 20px;
          font-weight: bold;
          color: #f38f1e;
        }
      }
      select {
        @include select;
      }
    }
  }
  .port_list_wrap {
    li.port_lists {
      position: relative;
      padding-left: 25px;
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #dbdbdb;
      div.wrap {
        display: flex;
        .lef {
          flex: 1 0 296px;
          margin-right: 40px;
          img {
          }
        }
        .ref {
          flex: 1 0 548px;
          h2 {
            font-size: 22px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 17px;
          }

          div.dl_wrap {
            dl {
              display: flex;
              margin-bottom: 3px;
              align-items: center;
              &:last-of-type {
                align-items: baseline;
                margin-top: 3px;
              }
              dt {
                flex: 0 0 100px;
                font-size: 14px;
                font-weight: 400;
                color: #333;
              }

              dd {
                font-size: 14px;
                font-weight: 400;
                color: #666666;
                line-height: 25px;
                &.yel {
                  color: $main_color_yel;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      ul.util {
        position: absolute;
        top: 38px;
        right: 0;
        overflow: hidden;
        li {
          float: left;
          &:first-of-type {
            margin-right: 4px;
          }
          a.btn_s02 {
          }
        }
      }
    }
  }
}
// 포트폴리오

// 동영상 인터뷰 인재
.com_vi_a {
  opacity: 1;
  display: inline-block;
  padding: 2px 7px;
  background: #f8a03c;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
}
.com_vi_a.blue {
  background: #6876b5;
}
.com_vi_a.green {
  background: #8bc135;
}
.com_vi_a.red {
  background: #de3030;
}
#video_interview_wrap .name {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: 3px;
  margin-left: 4px;
}
.star_wrap .data {
  display: inline-block;
  margin-left: 5px;
}
.com_vi_a2 {
  display: inline-block;
  width: 128px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #333333;
  border: 1px solid #333333;
  margin-top: 6px;
  transition: all 0.3s;
  position: relative;
  left: 31px;
  bottom: 9px;
}
.com_vi_a2:hover {
  background: #333333;
  color: #ffffff;
}
input[class="v_input"] + label {
  width: 16px;
  height: 16px;
  background: url(/img/v_input_off.png) no-repeat;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  padding-left: 23px;
  background-position-y: 3px;
  margin-left: 10px;
}
input[class="v_input"]:checked + label {
  background: url(/img/v_input_on.png) no-repeat;
  background-position-y: 3px;
}

div#video_interview_wrap {
  div#sta {
    margin-top: 0;
    div.inner {
      width: 100%;
      div.wrap {
        background: #fff;
        margin: 0 -2px;
        article {
          margin: 0 2px;
          // background: #ffffff;
          height: 146px;
          div.pic {
            a {
              img {
              }

              h2 {
                br {
                }
              }
            }
          }
        }
      }
    }
  }
  div.interview_wrap {
    margin-top: 25px;
    background: #ffffff;
    padding: 25px;
    padding-right: 50px;
    box-sizing: border-box;
    padding-bottom: 0;
    div.inter_view_info {
      opacity: 1;
      div.top {
        opacity: 1;
        display: flex;
        justify-content: space-between;
        div.lef {
          opacity: 1;
          font-size: 20px;
          font-weight: bold;
          color: #333333;
          display: flex;
          align-items: center;
        }

        div.ref {
          opacity: 1;
          span {
            opacity: 1;
            input#c1.chk03 {
              opacity: 1;
            }

            label.mi3 {
              background: url(/img/l_hide03_off.png) no-repeat;
              width: auto;
              height: 26px;
              padding-left: 24px;
              font-size: 13px;
              vertical-align: top;
              position: relative;
              display: inline-flex;
              align-items: center;
              top: 0px;
              background-position-y: 4px;
            }
          }

          span.select {
            display: inline-block;
            margin-left: 30px;
            opacity: 1;
            select {
              opacity: 1;
              @include select;
              option {
                opacity: 1;
              }
            }
          }
        }
      }

      ul.lists {
        opacity: 1;
        li {
          display: flex;
          align-items: center;
          padding: 37px 0;
          border-bottom: 1px solid #dddddd;
          box-sizing: border-box;
          opacity: 1;

          &:last-of-type {
            border-bottom: none;
          }
          div.wrap {
            opacity: 1;
            display: flex;
            width: 100%;
            justify-content: space-around;
            article {
              opacity: 1;
              display: flex;
              align-items: center;
              .info {
                font-size: 14px;
                color: #999999;
                margin-top: 8px;
                @include text_line;
                max-width: 137px;
              }
              img {
                opacity: 1;
              }
              div.txt_wrap {
                opacity: 1;
                p.tit {
                  opacity: 1;
                  span.com_vi_a {
                    opacity: 1;
                  }

                  span.name {
                    opacity: 1;
                  }
                }

                p.txt {
                  opacity: 1;
                  font-size: 16px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  margin-top: 11px;
                  color: #666666;
                  font-weight: 400;
                }
              }
            }
            article:nth-of-type(2) {
              padding: 14px 28px;
              box-sizing: border-box;
            }
            article:nth-of-type(3) {
              position: relative;
              padding: 24px 28px;
              position: relative;
              left: 28px;
              &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 50px;
                background: #dddddd;
                left: -12px;
                top: 36px;
              }
            }
            article:nth-of-type(4) {
              padding: 14px 28px;

              padding-bottom: 0;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
// 동영상 인터뷰 인재

// ai 검색
div.ai_search_wrap {
  opacity: 1;
  background: #414866;
  div.inner {
    opacity: 1;
    display: flex;
    align-items: center;
    height: 125px;
    width: 1140px;
    div.wrap {
      opacity: 1;
      display: flex;
      justify-content: space-between;
      width: 100%;
      article.lef {
        opacity: 1;
        width: 830px;
        div.input_wrap {
          opacity: 1;
          width: 100%;
          height: 60px;
          position: relative;
          input {
            width: 100%;
            height: 100%;
            background: #ffffff;
            opacity: 1;
            padding-left: 25px;
            box-sizing: border-box;
            &::placeholder {
              font-size: 16px;
              color: #999999;
            }
          }
          a.btn {
            position: absolute;
            right: 0;
            top: 0;
            img {
              opacity: 1;
            }
          }
        }
      }
      article.ref {
        display: flex;
        align-items: center;
        .txt_wrap {
          height: 35px;
          p.tit {
            font-size: 14px;
            color: #ffffff;
            line-height: 19px;
            font-weight: 500;
            margin-bottom: 3px;
          }
          p.ex {
            font-weight: 300;
            font-size: 14px;
            color: #b9c8ff;
          }
        }
      }
    }
  }
}
// ai 검색
