$black: #333;
$mainColor: #f8a03c;

.overlay div.popup h2 {
      padding-bottom: 19px;
      border-bottom: 1px solid #dbdbdb;
}

.overlay div.popup h2 p.info {
      font-size: 14px;
      color: #666666;
      margin-top: 10px;
      font-weight: 400;
}
.overlay div.popup div.info {
      margin-top: 15px;
}

.overlay div.popup div.info div.fle {
}

// 프리랜스 찜 완료
div#freelance_form_comple.overlay {
      div.infos {
            text-align: center;
            h2 {
                  font-size: 32px;
                  line-height: 40px;
                  color: $black;
                  font-weight: 300;
                  border: none;
                  b {
                        font-weight: 500;
                  }
            }

            ul.btn_wrap {
                  margin-top: 20px;
                  display: flex; justify-content: center;
                  li {
                        a.btn01 {
                              width: 190px;
                              &.on {
                                    margin-right: 10px;
                              }
                        }
                  }
            }
      }
}
// 프리랜스 찜 완료

// 프리랜서 찜
div#freelance_form.overlay {
      div.popup {
            h2 {
                  border-bottom: 1px solid $black;
            }
            ul.free {
                  opacity: 1;
                  li {
                        padding: 15px 0;
                        box-sizing: border-box;
                        text-align: center;
                        & .btn01 {
                              border: none;
                        }
                  }
            }
      }
}
// 프리랜서 찜


//POPUP006_프로필등록안내팝업
div#saveProfile.overlay {
      div.popup {
            padding: 0;
            width: 638px;
            max-width: none!important;
      
        a.close {color: #fff;}
        div.top {
            background: $mainColor;
            color: #fff;
            padding: 50px 35px 30px 35px;
            box-sizing: border-box;
          h2 {
                font-weight: bold;
                color: #fff;
                border-bottom: none;
          }
          p {
            font: {
                  weight: 400;
                  size: 16px;
                  letter-spacing: -0.5px;
            }
            padding-top: 20px;
          }
        }
        
        div.info {
            text-align: center;
          p.tit {
                  text-align: center;
                  font-size: 24px;
                  margin: {
                        top: 55px;
                        bottom: 30px;
                  }

            span {
                  font-weight: bold;
            }
          }
          ul {
                text-align: center;
                margin: {
                  top: 20px;
                  bottom: 20px;
                  }
            li {
                  display: inline-block;
                  width: 40%;
              a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 2px solid #ddd;
                  padding: 20px 35px;
                  border-radius: 10px;
                  color: $black;
                  margin: 5px;
                img {
                  margin-right: 5px;
                }
                &:hover {border: 2px solid $mainColor;}
              }
            }
          }
        }
        .goBtn {
            text-align: center;
            width: 35%;
            padding: 20px 35px;
            background-color: $black;
            color: #fff;
            border-radius: 10px;
            margin-bottom: 45px;
        }
      }
    }
//POPUP006_프로필등록안내팝업

//POPUP007_프로젝트지원정보확인
div#checkProject.overlay {
      min-width: 600px;
      & .popup {     
            max-height: 500px;
            overflow-y: scroll;
      }
      .top {
            h2 {border-bottom: 1px solid $black;}
      }
      input {
            opacity: 1;
            display: none;
            &:checked+label {
                background: url(/img/bg_radio_gender_on.png) no-repeat;
                opacity: 1;
                padding-left: 15px;
                vertical-align: middle;
                font-size: 14px;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                background-position: left center;
                margin-right: 5px;
                display: inline-block;
            }
        }
        label {
            background: url(/img/bg_radio_gender_off.png) no-repeat;
            opacity: 1;
            padding-left: 15px;
            vertical-align: middle;
            font-size: 14px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-position: left center;
            margin-right: 5px;
            display: inline-block;
            input,
            label {
                opacity: 1;
            }
        }
      .inputInfo {
            li {
                  box-sizing: border-box;
            }
           .infoName {
                 .emTit {
                       display: inline-block;
                       margin-right: 100px;
                       box-sizing: border-box;
                  }
                 border-bottom: 1px solid #ddd;
           }
           .emTit {
                  padding: 15px 0px;
                 font: {
                       size: 16px;
                       weight: bold;
                 }
           }
           .inputSty {
                  display: block;
                  //margin: 10px 0px;
                  padding: 15px;
                  box-sizing: border-box;
                  border: 1px solid #ddd;
                  width: 100%;
           } //input style 지정
           .kosaBox {
                  .emTit {
                        display: inline-block;
                        margin-right: 50px;
                  }
                  label {
                        margin-right: 20px;
                        cursor: pointer;
                  }
            }
           .exDate {
                 width: 40%;
                 display: inline-block;
                 &:last-child {margin-left: 30px; }
           }
           .price {
                  width: 40%;
                  display: inline-block;
                  &:last-child {margin-left: 0px; }
           }
           .msg {
                  width: 100%;
                  box-sizing: border-box;
                  height: 150px;
                  resize: none;
                  margin-bottom: 15px;
           }
      }
      .notice {font-size: 14px;}
      ul.btn_wrap {
            margin-top: 20px;
            display: flex; 
            justify-content: center;
            align-items: center;
            li {
                  margin-left: 20px;
                  &:first-child {margin-left: 0px;}
                  a.btn01 {
                        width: 150px;
                        &.on {
                              border: 1px solid $mainColor;
                              background:$mainColor;
                        }
                  }
            }
      }    
}
//POPUP007_프로젝트지원정보확인

//POPUP004_최근본프로젝트팝업 001, 
//POPUP004_최근본프로젝트팝업 002
.recentProject {
      .popup {
            min-width: 600px;
      }
      .top {
            h2 {border-bottom: 1px solid $black;}
      }
      .recentPjList {
            & input {display: inline-block; }
            & li {
                  padding: 15px;
                  box-sizing: border-box;
                  border-bottom: 1px solid #ddd;
                  line-height: 25px;
                        .chName {color: $black; }
                        .chAge {color: #a9a9a9;}
                        .chPrice {color: #a9a9a9;}
                        .exDate {
                              color: $mainColor; 
                              & span {color: #ddd; font-size: 14px;}
                        }
                        .jobType {color: #666; text-indent: 25px;}
                        span.jobType {color: $black;}
                        .pDuration {text-indent: 25px;}
            }
            & .allChoose {
                  background: #f5f5f5;
                  padding: 15px 0px; box-sizing: border-box;
                  text-indent: 15px;
                  & .chNum {
                        color: $mainColor;
                  }
            }
      }
      .showAllBtn {
            text-align: center;
            margin: 20px 0;
            color: #666;
            padding: 10px 20px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 10px;
            float: right;
            & .countListNum{color: $mainColor;}
      }
      .paging { clear: both;}
}
//POPUP004_최근본프로젝트팝업 001
//POPUP004_최근본프로젝트팝업 002

//POPUP005_최근 검색한 조건 팝업 
#recentSearch {
      .popup {
            min-width: 800px;
      }
      .top {
            h2 {border-bottom: none;}
      }
      .recentSearchMenu {
            width: 100%;
            display: flex;
            margin: 30px 0;
            li {
                  color: #ddd;
                  flex: 1;
                  text-align: center;
                  border: 1px solid #ddd;
                  border-collapse: collapse;
                  padding: 15px 0; box-sizing: border-box;

                  &.on {
                        background: $black; 
                        color: #fff;
                        border: 1px solid $black;
                  }
            }
      }
      .smTit {
            font: {
                  size: 18px;
                  weight: normal;
            }
            & span {color: #666; padding-left: 10px; box-sizing: border-box; font-size: 14px;}
      }
      .recentPjList {
            display: none;

            &.on {
                  display: block;
            }


            & input {display: inline-block; }
            & li {
                  padding: 20px 15px;
                  box-sizing: border-box;
                  border-bottom: 1px solid #ddd;
                  line-height: 25px;
                  display: flex;
                  align-items: center;
                  .recentBoxRow{
                        flex: 4;
                        .jobTypeList {
                              & span:first-child::before {
                                    content: "";
                              }
                              & span::before {
                                    content: "\2223";
                              }
                              & p {
                                    & span {
                                          display: inline-block;
                                    }
                              }
                        }
                  }
                  .date {
                        flex: 1;
                        text-align: center;
                  }
            }
            & .allChoose {
                  background: #f5f5f5;
                  padding: 15px; box-sizing: border-box;
                  & .chNum {
                        color: $mainColor;
                  }
            }
      }
      .showAllBtn {
            text-align: center;
            margin: 20px 0;
            color: #666;
            padding: 10px 20px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 10px;
            float: right;
            & .countListNum{color: $mainColor;}
      }
      .paging { clear: both;}
}
//POPUP005_최근 검색한 조건 팝업 



// 공지사항 팝업
div#adress_pop.overlay div.popup div.info div.fle div.lef {
      width: 80%;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap {
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl.w50 {
      float: left;
      width: 50%;
      display: flex;
      margin-bottom: 15px;
      align-items: center;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl.w50 dt {
      float: left;
      margin-right: 15px;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl.w50 dd {
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl.w50 dd select {
      width: 115px;
      height: 34px;
      border: solid 1px #bbbbbb;
      background-color: #ffffff;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl {
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl dt {
      float: left;
      margin-right: 15px;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl dd {
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl dd select {
      width: 308px;
      height: 34px;
      border: solid 1px #bbbbbb;
      background-color: #ffffff;
      padding-left: 12px;
      color: #999999;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.wrap dl dd select option {
}

div#adress_pop.overlay div.popup div.info div.fle div.lef p.tit {
      margin-top: 15px;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: -0.3px;
      text-align: left;
      color: #666666;
      padding-left: 50px;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef p.txt {
      margin-top: 5px;
      font-size: 13px;
      color: #999;
      padding-left: 50px;
      letter-spacing: 0.3px;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.btn_wrap {
      margin-top: 35px;
      position: relative;
      left: 50%;
      width: 100%;
      transform: translate(-23.5px);
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.btn_wrap a.btn {
      width: 63px;
      height: 27px;
      border: solid 1px #dddddd;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 27px;
      letter-spacing: -0.35px;
      text-align: left;
      color: #999999;
      text-align: center;
      margin: 0 4px;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.btn_wrap a.btn.on {
      background: $mainColor;
      color: #ffffff;
      border: $mainColor;
}

div#adress_pop.overlay div.popup div.info div.fle div.lef div.btn_wrap a.btn.on {
}

div#adress_pop.overlay div.popup div.info div.fle div.ref {
}

div#adress_pop.overlay div.popup div.info div.fle div.ref input {
      width: 88px;
      height: 84px;
      background-color: $mainColor;
      color: #fff;
      border: none;
      font-size: 19px;
      font-weight: bold;
}
// 공지사항 팝업

